@font-face {
    font-family: "Roboto-one"; 
    src: url("../fonts/Roboto-one/Roboto-Black.ttf"); 
}
@font-face {
    font-family: "Roboto-two"; 
    src: url("../fonts/Roboto-two/Roboto-Regular.ttf"); 
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto-two";
    width: 1920px;
    height: 1657px;
}
.r{
    font-family: "Roboto-one";
}
.header{
    display: flex;
    background-color: #FFFD00;
    width: 1920px;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.My-blog{
    font-size: 20px;
    justify-content: center;
    position: relative;
    left: 367px;
    top: 11px;
    color: black;
}
.nav{
    display: flex;
    width: 1920px;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.Search{
    width: 326px;
    height: 38px;
    position: absolute;
    left: 959px;
    top: 53px;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    border: none;
    background: url(../imgs/Vector.png) 11px 9px no-repeat;
    padding-left: 54px;
    outline: none;
}
.Search:focus{
    border: 1px solid #FFFD00;
  }
a{
    text-decoration: none;
    color: rgba(161, 2, 255, 1);
    font-size: 14px;
}
.add{
    position: absolute;
    left: 1325px;
    top: 64px;
    white-space: nowrap;
}
.author{
    position: absolute;
    left: 1430px;
    top: 64px;
    white-space: nowrap;
}
.start{
    background-color: aqua;
    color: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    padding: 18px 7px 18px 7px;
    position: sticky;
    left: 1300px;
    top: 500px;
}
.container{
    width: 1303px;
    height: 1492px;
    position: relative;
    left: 308px;
    top: 39px;
    border-radius: 6px;
    margin: 0;
}
.block-one{
    width: 100%;
    height: 486px;
    background: url("../imgs/one.png");
    background-size: cover;
}
.block-two{
    width: 100%;
    height: 503px;
    background: linear-gradient(360deg, rgba(61, 0, 98, 0.6) 30.87%, rgba(94, 78, 78, 0) 100%), #61019A;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
}
.block-help{
    width: 574px;
    height: 503px;
}
.two-photo{
    width: 376px;
    height: 376.94px;
    position: relative;
    left: 140px;
    top: 64px;
}
.block-help-two{
    width: 729px;
    height: 503px;
}
.name{
    margin: 0;
    position: relative;
    top: 82px;
}
.text{
    position: relative;
    top: 97px;
    width: 629px;
    height: 141px;
}
.list{
    position: relative;
    top:109px;
    font-size: 20px;
}
li{
    padding-bottom: 20px;
}
.block-three{
    width: 100%;
    height: 503px;
    background-color: rgba(61, 0, 98, 1);
    color:#FFFFFF
}
.name-two{
    margin: 0;
    position: relative;
    left: 530px;
    top: 53px;
    width: 244px;
}
.block-help-three{
    width: 100%;
    height: 410px;
    position: relative;
    top: 53px;
    display: flex;
}
.text-two{
    position: relative;
    top: 53px;
    width: 328px;
    height: 237px;
    padding-left: 115px;
}
.text-three{
    position: relative;
    top: 53px;
    width: 328px;
    height: 237px;
    padding-left: 45px;
}
.text-four{
    position: relative;
    top: 53px;
    width: 328px;
    height: 237px;
    padding-left: 45px;
}
.modal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1657px;
    display: none;
    transform: translateY(-150%);
    animation: ani 1s forwards;
  }
  @keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
  }
  .modal-window {
    position: absolute;
    top: 133px;
    left: 520px;
    z-index: 2;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 854px;
    height: 847px;
  }
  .addnew{
    font-size: 20px;
    position: absolute;
    top: 17px;
    left: 32px;
    margin: 0px;
    color: rgba(35, 35, 35, 0.7);
  }
  .krestik{
    font-size: 14px;
    width: 37px;
    height: 37px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 11px;
    left: 791px;
  }
  .krestik:hover{
    background-color: rgb(249, 72, 72);
    width: 42px;
    height: 42px;
    transition-property: width, height, background-color;
    transition-duration: 500ms;
  }
  .name-stat{
    position: absolute;
    top: 87px;
    left: 31px;
    font-size: 16px;
    margin: 0px;
  }
  .textik{
    width: 797px;
    height: 38px;
    position: absolute;
    top: 117px;
    left: 30px;
    border: 1px solid #CECECE;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    outline: none;
  }
  .textik:focus{
    border: 1px solid #FFFD00;
  }
  .text-stat{
    position: absolute;
    top: 178px;
    left: 32px;
    margin: 0px;
  }
  .textik2{
    position: absolute;
    top: 205px;
    left: 31px;
    width: 797px;
    height: 493px;
    border: 1px solid #CECECE;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    outline: none;
    resize: none;
  }
  .textik2:focus{
    border: 1px solid #FFFD00;
  }
  .izobra{
    position: absolute;
    top: 727px;
    left: 38px;
    margin: 0px;
  }
  .file{
    position: absolute;
    top: 721px;
    left: 164px;
  }
  input[type=file]::file-selector-button {
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 10px;
    color: #232323;
    transition-duration: 300ms;
    cursor: pointer;
  }
  input[type=file]::file-selector-button:hover {
    background-color: #FFE600;
    transition-duration: 300ms;
    transition-property: background-color;
  }
  .otmena{
    position: absolute;
    top: 795px;
    left: 665px;
    width: 85px;
    height: 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
  }
  .otmena:hover{
    background-color: rgb(249, 72, 72);
    transition-property:background-color;
    transition-duration: 500ms;
  }
  .dobav{
    position: absolute;
    top: 795px;
    left: 755px;
    width: 85px;
    height: 32px;
    background: #FFFD00;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border: none;
  }
  .dobav:hover{
    background: #ffd900;
    transition-property:background-color;
    transition-duration: 500ms;
  }