@font-face {
  font-family: "Roboto-one";
  src: url("../fonts/Roboto-one/Roboto-Black.ttf")
}

@font-face {
  font-family: "Roboto-two";
  src: url("../fonts/Roboto-two/Roboto-Regular.ttf");
}

body {
  font-family: "Roboto-one";
}

.add1, .author, .cart-text-block__text, .cart-reference__link {
  font-family: "Roboto-two";
}

html{
  font-family: "Roboto-one";
}

main.about-us {
  width: 1303px;
  margin: 0 auto;
  margin-top: 39px;
}

.main-img-section {
  width: 100%;
  height: 486px;
}

.h1 {
  color: #FFFFFF;
  font-size: 34px;
  letter-spacing: 1px;
  margin: 0;
}

.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(360deg, rgba(61, 0, 98, 0.6) 30.87%, rgba(94, 78, 78, 0) 100%), #61019A;
  padding: 64px 100px 62px 140px;
}
.advantages-figure__img {
  animation-name: horizontal-img;
  animation-duration: 2s;
}
.advantages-block-text {
  width: 629px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.advantages-block-text__h1 {
  padding: 18px 0 15px 0;
  animation-name: vertical-text;
  animation-duration: 4s;
}
.advantages-block-text__article {
  color: #F7F7F7;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  padding-bottom: 14px;
}
.advantages-block-text-list {
  margin: 0;
  color: #F7F7F7;
  font-weight: 700;
  font-size: 20px;
}
.advantages-block-text-list__item {
  display: list-item;
  list-style-type: disc;
  padding-bottom: 25px;
}

.item-1 {
  animation-name: horizontal-text-1;
  animation-duration: 3s;
}

.item-2 {
  animation-name: horizontal-text-2;
  animation-duration: 4s;
}

.item-3 {
  animation-name: horizontal-text-3;
  animation-duration: 5s;
}

.reviews {
  background: #3D0062;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__h1 {
  padding: 53px 0;
}
.reviews-block {
  display: flex;
  padding-bottom: 120px;
}
.reviews-block-text {
  color: #F7F7F7;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  font-weight: 400;
  width: 328px;
}
.reviews-block-text:not(:nth-child(3)) {
  padding-right: 45px;
}

.add-items-form {
  width: 854px;
  height: 680px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 auto;
}
.add-items-form-fieldset {
  border: none;
  position: relative;
  padding: 17px 26px 20px 26px;
  margin: 0;
}
.add-items-form-legend {
  display: none;
}
.add-items-form-legend__h2 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(35, 35, 35, 0.7);
  margin-bottom: 44px;
}
.add-items-form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}
.add-items-form-item .add-title-item {
  font-weight: 400;
  font-size: 16px;
  color: #232323;
  padding-bottom: 10px;
}
.add-items-form-file {
  padding: 5px 0;
  margin-top: 17px;
  height: 50px;
}
.add-items-form-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.add-items-form-submit__btn {
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  color: #232323;
  transition-duration: 300ms;
  cursor: pointer;
  width: 86px;
}
.add-items-form-submit__btn.add {
  background: #FFFD00;
}

.add-items-form-submit__btn + .add-items-form-submit__btn {
  margin-left: 15px;
}

.add-item-input {
  background: #FFFFFF;
  border: 1px solid #CECECE;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: border 0.3s;
  font-size: 16px;
  padding: 0px 10px;
  font-family: "Roboto";
  outline: none;
}

.add-item-input:focus{
  border: 1px solid #FFFD00;
}

.add-item-input:hover{
  border: 1px solid #FFFD00;
}

.add-item-input.title {
  height: 38px;
}
.add-item-input.text {
  height: 300px;
  resize: none;
  padding: 10px;
}

input[type=file]::file-selector-button {
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 10px;
  color: #232323;
  transition-duration: 300ms;
  cursor: pointer;
}

.btn-file {
  padding: 3px;
}

input[type=file]::file-selector-button:hover {
  background-color: #FFE600;
  transition-duration: 300ms;
  transition-property: background-color;
}

.cancel-btn {
  border: none;
  position: absolute;
  top: 11px;
  right: 26px;
  font-size: 14px;
  font-weight: 400;
  padding: 11px 14px;
  color: #232323;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: transform 0.3s;
}
.cancel-btn:hover {
  background: #fd0d05;
  transform: scale(0.7);
  transition: all 0.2s;
}
.cancel-btn:active {
  transform: scale(1.2);
  color: #FFFFFF;
  font-weight: bolder;
  transition: all 0.2s;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.popup {
  grid-area: 1/1/4/4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  margin: auto;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
}

.popup__content {
  transition: all 0.6s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(60deg);
  position: relative;
  left: 300px;
}

.string-base-64 {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  scroll-behavior: smooth;
}

figure, a, h2, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  display: inline;
}

body {
  display: grid;
  grid-template: "a a a" 48px 
                 "b b b" 48px 
                 "c c c" 1627px
                 "f f f" 69px;
}

body.lock {
  overflow: hidden;
}


.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFD00;
  width: 1920px;
  height: 48px;
  border-top: 1px solid "@include shadow";
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  grid-area: a;
}

.My-blog {
  font-size: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  left: 367px;
  top: 11px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  height: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  grid-area: b;
}

.Search {
  width: 326px;
  height: 38px;
  position: absolute;
  left: 959px;
  top: 53px;
  -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  border: none;
  background: url(../imgs/Vector.png) 11px 9px no-repeat;
  padding-left: 54px;
  outline: none;
}

.Search:focus {
  border: 1px solid #FFFD00;
}

.Search:hover {
  border: 1px solid #FFFD00;
}

a {
  text-decoration: none;
  color: rgb(161, 2, 255);
  font-size: 14px;
}

.add1 {
  position: absolute;
  left: 1325px;
  top: 64px;
  white-space: nowrap;
}

.author {
  position: absolute;
  left: 1483px;
  top: 64px;
  white-space: nowrap;
}

.fa-search {
  font-size: 20px;
  position: absolute;
  margin-left: 11px;
  margin-top: 11px;
}

main {
  grid-area: c;
  width: 1190px;
  margin-top: 39px;
}

.section-main {
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 367px;
}

.cart {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-main {
  width: 285px;
  height: 300px;
}
.cart-main__figure {
  width: 285px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.cart-main__figure:hover img {
  transform: scale(1.2);
  transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.cart-main-active {
  width: 585px;
  height: 615px;
}
.cart-main-active__figure {
  width: 585px;
  height: 405px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.cart-main-active__img {
  width: 585px;
  height: 405px;
}
.cart-main__img {
  width: 285px;
  height: 130px;
}

.cart-figure-overlay-main {
  width: 285px;
  height: 130px;
}
.cart-figure-overlay-main__active {
  width: 585px;
  height: 405px;
}

.cart-common {
  display: flex;
  align-items: center;
  width: 585px;
  height: 300px;
  margin-bottom: 15px;
}
.cart-common__figure {
  flex-basis: 285px;
  height: 300px;
  width: 285px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}
.cart-common__figure:hover img {
  transform: scale(1.2);
  transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
.cart-common__img {
  width: 285px;
  height: 300px;
}

.cart-figure-overlay {
  position: absolute;
  background: linear-gradient(360deg, #FFFFFF 10.88%, rgba(255, 255, 255, 0) 29.1%);
  border-radius: 5px 5px 0 0;
}

.cart__img {
  object-fit: cover;
  position: absolute;
}

.cart-text-block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.cart-text-block-active {
  padding: 0 15px;
  margin-top: -30px;
}
.cart-text-block-main {
  padding: 0 15px;
  margin-top: -20px;
}
.cart-text-block-main-active__header {
  flex-basis: 45px;
  align-items: center;
  font-size: 34px;
}
.cart-text-block-main__header {
  flex-basis: 26px;
  align-items: center;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cart-text-block-common {
  height: 100%;
  width: 330px;
  padding-right: 15px;
  margin-left: -15px;
}
.cart-text-block-common__header {
  flex-basis: 60px;
  align-items: center;
  font-size: 34px;
  line-height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cart-text-block__text {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-text-block-main__text {
  flex-basis: 86px;
  margin-bottom: 10px;
}
.cart-text-block-main-active__text {
  flex-basis: 134px;
}
.cart-text-block-common__text {
  flex-basis: 165px;
  margin-bottom: 10px;
}

.cart-reference__link {
  font-size: 14px;
  color: #A102FF;
}

.cart-responce {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-responce-block {
  width: 124px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-responce-block__counter {
  font-size: 30px;
  color: #7CF253;
}
.cart-responce-block-plus__btn {
  color: #7CF253;
  width: 28px;
  height: 28px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-weight: 900;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.815);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-responce-block-mines__btn {
  color: #FF9494;
  width: 28px;
  height: 28px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  font-weight: 900;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.815);
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.section-main-current {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-common {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  left: 367px;
}

footer {
  grid-area: f;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-basis: 82px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 97px;
  opacity: 0.9;

}

.main-btn {
  position: absolute;
  width: 132px;
  height: 38px;
  font-size: 14px;
  border-radius: 19px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  background: white;
}
.main-btn:hover {
  background-color: #FFE600;
  transition-property: background-color;
  transition-duration: 300ms;
}

.aside {
  position: fixed;
  top: 50%;
  left: 90%;
}

a.aside {
  width: 143px;
}